* {
  box-sizing: border-box;
  // border: 1px solid red;
}

body {
  display: block;
  height: 100%;
  overflow-x: hidden;
  background-color: rgba(245, 244, 255, 1);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@mixin flex-properties($display, $direction, $justify, $align, $gap) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin text-properties($font, $size, $height, $spacing, $weight, $color) {
  font-family: $font, sans-serif;
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
  font-weight: $weight;
  color: $color;
}

@mixin list-style($style, $margin, $padding) {
  list-style: $style;
  margin: $margin;
  padding: $padding;
}

@mixin container($width: 81.25rem) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: $width;
  margin: auto;
}

// @mixin buttonLink($display) {
//   .link {
//     display: $display;
//     padding: 16px;
//     background-color: rgba(0, 60, 255, 1);
//     border-radius: 16px;
//     border: none;
//   }

//   @media (hover: hover) {
//     .link:hover {
//       background-color: #7796c0;
//     }
//   }
// }

@media (max-width: 1300px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 14px;
  }
}
