* {
  box-sizing: border-box;
}

body {
  display: block;
  background-color: rgba(245, 244, 255, 1);
}

@mixin flex-properties($display, $direction, $justify, $align, $gap) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin text-properties($font, $size, $height, $spacing, $weight, $color) {
  font-family: $font, sans-serif;
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
  font-weight: $weight;
  color: $color;
}

@mixin list-style($style, $margin, $padding) {
  list-style: $style;
  margin: $margin;
  padding: $padding;
}
