@use '../../../styles/App.scss' as *;

.accordion {
  @include flex-properties(flex, row, space-between, baseline, null);
  border: 1px solid rgba(226, 232, 240, 1);
  padding: 32px 32px 25px 32px;

  &__wrapper {
    @include flex-properties(flex, column, null, null, null);
  }

  &__question {
    @include text-properties(
      Ubuntu,
      16px,
      147%,
      null,
      500,
      rgba(28, 28, 30, 1)
    );
    margin: 0;
  }

  &__answer {
    @include text-properties(
      Ubuntu,
      16px,
      147%,
      null,
      400,
      rgba(123, 116, 84, 1)
    );
    margin: 0;
    margin-top: 56px;
  }

  &__icon {
    width: 14px;
    height: 9px;
  }

  &__btn {
    width: 14px;
    height: 9px;
    padding: 0;
    border: none;
    background-color: transparent;
    transition: all 5s;
  }

  &__icon {
    width: 14px;
    height: 9px;
  }
}
