@use '../../../styles/App.scss' as *;

.button {
  align-self: flex-start;
  @include text-properties(Ubuntu, 1rem, 112%, 0.02em, 700, null);
  border-radius: 0.5rem;
  border: none;
}

.primary {
  background-color: rgba(0, 60, 255, 1);
  color: rgba(255, 255, 255, 1);
}

.tab {
  background-color: transparent;
  color: rgba(123, 116, 84, 1);
}

.active {
  position: relative;
  &::before {
    position: absolute;
    top: 26px;
    display: flex;
    content: '';
    width: 100%;
    height: 2px;
    background-color: rgba(123, 116, 84, 1);
  }
}

.danger {
  background-color: rgba(217, 55, 55, 0.8);
  color: rgba(255, 255, 255, 1);
}

.pTab {
  padding: 0;
}

.pPrimary {
  padding: 1rem;
}

.pContinue {
  padding: 1rem 2.375rem 0.875rem 2.375rem;
}

.pBack {
  padding: 0.6875rem 4.0313rem;
}

@media (hover: hover) {
  .primary:hover {
    background-color: rgba(119, 150, 192, 1);
  }

  .danger:hover {
    background-color: rgba(214, 109, 109, 0.8);
  }
}

@media (max-width: 1300px) {
  .button {
    align-self: center;
  }

  .pBack {
    align-self: flex-start;
  }
}
