@use '../../styles/App' as *;

.form {
  margin-top: 2.75rem;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 1.75rem;
  box-shadow: 0rem 0.125rem 0.25rem 0rem rgba(0, 0, 0, 0.2),
    0rem 0rem 0.5rem 0rem rgba(0, 0, 0, 0.08);
  @include flex-properties(flex, column, null, null, null);

  &__amountWrapper {
    @include flex-properties(flex, row, flex-start, null, null);
    margin-bottom: 2rem;
  }

  &__selectAmountWrapper {
    margin-right: 2.5rem;
  }

  &__legendWrapper {
    @include flex-properties(flex, row, space-between, flex-start, null);
  }

  &__legend {
    @include text-properties(
      Ubuntu,
      1.875rem,
      100%,
      null,
      700,
      rgba(0, 0, 0, 1)
    );
  }

  &__step {
    @include text-properties(Ubuntu, 1rem, 100%, null, 500, rgba(0, 0, 0, 1));
    margin: 0;
  }

  &__amountTitle {
    @include text-properties(
      Ubuntu,
      1.25rem,
      100%,
      null,
      700,
      rgba(0, 0, 0, 1)
    );
    margin: 0;
    margin-bottom: 1rem;
  }

  &__chosenAmount {
    margin-left: 2.625rem;
  }

  &__inputGroupsWrapper {
    margin-bottom: 1.5rem;
  }

  &__inputGroups {
    @include flex-properties(flex, row, null, null, 1rem);
    flex-wrap: wrap;
  }

  &__inputGroup {
    @include flex-properties(inline-flex, column, null, null, 0.5rem);
  }

  & > :last-child {
    align-self: flex-end;
  }

  &__inputError {
    @include text-properties(
      Ubuntu,
      16px,
      100%,
      null,
      500,
      rgba(255, 86, 49, 1)
    );
  }
}

@media (max-width: 1300px) {
  .form {
    @include container(57.5rem);
    margin-top: 2.75rem;
    margin-bottom: 6rem;

    &__amountWrapper {
      @include flex-properties(flex, column, flex-start, null, null);
    }

    &__inputGroupsWrapper {
      @include flex-properties(flex, column, center, center, null);
    }

    &__inputGroups {
      justify-content: center;
    }

    &__chosenAmount {
      @include flex-properties(flex, column, center, center, null);
      margin-left: 0;
    }

    &__amountTitle {
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    &__inputGroupsTitle {
      margin-bottom: 3rem;
    }

    & > :last-child {
      align-self: center;
    }
  }
}

@media (max-width: 920px) {
  .form {
    @include container(31.25rem);
    margin-top: 2.75rem;
    margin-bottom: 6rem;

    &__legendWrapper {
      @include flex-properties(flex, column, center, center, 1rem);
    }
  }
}

@media (max-width: 500px) {
  .form {
    @include container(20rem);
    margin-top: 2.75rem;
    margin-bottom: 6rem;

    &__legend {
      font-size: 1.3rem;
    }

    &__legendWrapper {
      @include flex-properties(flex, column, center, center, 1rem);
    }

    &__selectAmountWrapper {
      margin-right: 0;
    }
  }
}
