@use '../../../styles/App.scss' as *;

.select {
  background-color: rgba(249, 245, 227, 1);
  padding: 0.75rem 1rem;
  border: 0.0625rem solid rgba(128, 128, 128, 0.2);
  @include text-properties(Ubuntu, 0.875rem, 100%, null, 400, rgba(0, 0, 0, 1));
  border-radius: 0.375rem;

  &:focus {
    outline: 0.125rem solid rgba(91, 53, 213, 1);
  }
}

.error {
  border: 0.125rem solid rgba(255, 86, 49, 1);

  &:focus {
    outline: 0.125rem solid rgba(255, 86, 49, 1);
  }
}

.errorText {
  @include text-properties(Ubuntu, 1rem, 100%, null, 500, rgba(255, 86, 49, 1));
}
