.borderVertical {
  border-right: 0.0625rem dashed rgba(128, 128, 128, 0.4);
}

.tabs {
  width: 81.25rem;
}

.howTo {
  width: 15.625rem;
}

@media (max-width: 1300px) {
  .tabs {
    width: 57.5rem;
  }

  .howTo {
    width: 160px;
  }

  .form {
    width: 100%;
    height: 4.5rem !important;
    border-right: none;
  }
}

@media (max-width: 920px) {
  .tabs {
    width: 31.25rem;
    align-self: center;
  }
}

@media (max-width: 500px) {
  .tabs {
    width: 20rem;
    align-self: center;
  }
}
