@use '../../../styles/App.scss' as *;

.sliderButtons {
  @include flex-properties(flex, null, center, flex-end, 1.25rem);
  align-self: flex-end;

  .sliderButton {
    width: 4rem;
    height: 4rem;
    padding: 0;
    background-color: rgba(0, 60, 255, 1);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 0.375rem;
    padding: 0.0625rem;

    &_prevIcon,
    &_nextIcon {
      width: 1.5rem;
      height: 1.5rem;
      stroke: #ffffff;
    }

    &[disabled] {
      background-color: #ffffff;
      border: 0.0625rem solid #003cff;
      cursor: not-allowed;

      &[disabled] .sliderButton_prevIcon,
      .sliderButton_nextIcon {
        stroke: #222222;
      }
    }
  }
}

@media (hover: hover) {
  .sliderButton {
    &:hover {
      background-color: #ffffff;
      border: 0.0625rem solid #003cff;

      & .sliderButton_prevIcon,
      .sliderButton_nextIcon {
        stroke: #222222;
      }
    }
  }
}

@media (max-width: 920px) {
  .sliderButtons {
    align-self: center;
  }
}
