@use '../../styles/App.scss' as *;

.creditCard {
  &__listItem {
    margin: 0 0 36px 0;
    position: relative;
  }

  &__listItemTitle {
    margin: 0 0 9px 0;
    @include text-properties(
      Ubuntu,
      20px,
      112%,
      0.02em,
      700,
      rgba(61, 61, 61, 1)
    );
  }

  &__listItemText {
    @include text-properties(
      Ubuntu,
      16px,
      112%,
      0.02em,
      500,
      rgba(61, 61, 61, 1)
    );
  }
}

@media (hover: hover) {
  .creditCard__listItem:hover {
    cursor: pointer;
  }
}
