@use '../../styles/App.scss' as *;

.news {
  @include container();
  margin-bottom: 4rem;
  overflow: hidden;

  &__title {
    margin: 0 0 0.5rem 0;
    @include text-properties(
      Ubuntu,
      1.25rem,
      1.5625rem,
      null,
      500,
      rgba(0, 0, 0, 1)
    );
    text-align: center;
  }

  &__text {
    margin: 0 0 2.875rem 0;
    @include text-properties(
      Ubuntu,
      1rem,
      3.125rem,
      null,
      500,
      rgba(45, 55, 72, 1)
    );
    text-align: center;
  }

  &__sliderWrapper {
    @include flex-properties(flex, null, flex-start, flex-start, 5rem);
    @include list-style(none, 0, 0);
    margin-bottom: 2rem;
    transition-duration: 500ms;
  }
}

.spinner_wrapper {
  @include flex-properties(flex, null, center, center, null);
}

@media (max-width: 1300px) {
  .news {
    @include container(57.5rem);
    margin-bottom: 4rem;
  }
}

@media (max-width: 920px) {
  .news {
    @include container(31.25rem);
    margin-bottom: 4rem;

    &__text {
      line-height: 2.5rem;
    }

    &__sliderWrapper {
      transform: translateX(84px);
    }
  }
}

@media (max-width: 500px) {
  .news {
    @include container(20.125rem);
    margin-bottom: 4rem;

    &__title {
      font-size: 1.3rem;
    }

    &__text {
      font-size: 0.8rem;
      line-height: 1.8rem;
    }

    &__sliderWrapper {
      transform: translateX(0);
    }
  }
}
