@use '../../styles//App.scss' as *;

.formSign {
  @include container();
  margin-top: 6.5rem;
  margin-bottom: 6.0625rem;
  background-color: transparent;

  &__legendWrapper {
    @include flex-properties(flex, row, null, null, 7.5rem);
    margin-bottom: 2rem;
  }

  &__legend {
    @include text-properties(
      Ubuntu,
      1.875rem,
      147%,
      0.02em,
      700,
      rgba(28, 28, 30, 1)
    );
  }

  &__step {
    @include text-properties(Ubuntu, 1rem, 147%, 0.02em, 500, rgba(0, 0, 0, 1));
    margin: 0;
    margin-top: 0.5625rem;
  }

  &__text {
    @include text-properties(Ubuntu, 1.25rem, 112%, null, 500, #4f5665);
    margin-bottom: 2rem;
  }

  &__pdf {
    padding: 0;
    @include flex-properties(flex, row, null, center, 0.75rem);
    background-color: transparent;
    border: none;
  }

  &__iconPdf {
    width: 3.75rem;
    height: 3.75rem;
  }

  &__pdfText {
    @include text-properties(Ubuntu, 1.25rem, 112%, null, 500, #000000);
  }

  &__footer {
    @include flex-properties(flex, row, flex-end, center, null);
    margin-top: 2.7188rem;
  }

  &__sendGroup {
    @include flex-properties(flex, row, null, center, 5rem);
  }

  &__inputGroup {
    @include flex-properties(flex, row-reverse, null, center, 1rem);
  }
}

@media (max-width: 1300px) {
  .formDoc {
    @include container(57.5rem);
  }
}

@media (max-width: 920px) {
  .formDoc {
    @include container(31.25rem);

    &__legend {
      font-size: 1.3rem;
    }

    &__footer {
      & > :first-child {
        margin-top: 2.5rem;
      }
    }

    &__footer,
    &__sendGroup {
      flex-direction: column-reverse;
    }
  }
}

@media (max-width: 500px) {
  .formDoc {
    @include container(20rem);

    &__legendWrapper {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin-bottom: 2.5rem;
    }
  }
}
