@use '../../styles/App.scss' as *;

.news {
  &__link {
    display: inline-block;
    width: 20rem;
    height: 28rem;
    padding: 2rem;
    margin: 1rem 0 1rem 0.125rem;
    background: linear-gradient(#fff, #fff) padding-box,
      linear-gradient(0deg, rgba(187, 187, 187, 0.2), rgba(187, 187, 187, 0.2)),
      linear-gradient(
          0deg,
          rgba(187, 187, 187, 0.08),
          rgba(187, 187, 187, 0.08)
        )
        border-box;
    border: 1px solid transparent;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.2),
      0 0 4px 0 rgba(0, 0, 0, 0.08);
    border-radius: 1.75rem;
    flex-shrink: 0;
  }

  &__img {
    width: 16rem;
    height: 7.5rem;
    margin-bottom: 2rem;
    -o-object-fit: cover;
    object-fit: cover;
  }

  &__linkTitle {
    margin: 2rem 0;
    @include text-properties(
      Ubuntu,
      1.25rem,
      1.5625rem,
      null,
      500,
      rgba(0, 0, 0, 1)
    );
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Число отображаемых строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }

  &__description {
    margin: 0;
    @include text-properties(
      Ubuntu,
      1rem,
      1.4375rem,
      null,
      500,
      rgba(0, 0, 0, 1)
    );
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Число отображаемых строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .news {
    &__description {
      font-size: 0.8rem;
    }
  }
}
